/*=================================================================== */
        /*---------- General Styles -------------*/
/*==================================================================== */
.navbar {
    height: 60px;
}
.container-fluid {
    padding: 50px;
}

.container-fluid h1 {
    margin-top: 50px;
}

.container-fluid p {
    margin: 20px 0px;
}

.pic-con {
    width: 400px;
    height: 300px;
}

.pic-con img{
    width: 100%;
}

._showing {
    display: none;
    text-align: center;
}

.clickable {
    cursor: pointer;
    color: #ccc;
/*    text-decoration: underline;*/

}

.clickable:hover {
    text-decoration: underline;
    text-decoration-color: #ccc;
}


/*=================================================================== */
        /*---------- TTWP Styles -------------*/
/*==================================================================== */

.header-blue .hero .ttwp p {
    width: 90% !important;
}

.ttwp .btn {
    margin-right: 20px;
}

#goodbye {
    color: #555;
}

.ttwp .row {
    width: 100%;
    margin-top: 30px;
}

.ttwp .col-md-6, .ttwp ul {
    float: left;
    text-align:
        left



}
